.container {
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding-block: 1rem;
    color: rgb(0, 0, 0);
    text-align: center;
    flex: 1; /* Isso permite que o contêiner ocupe o máximo de espaço disponível */
}
