.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Define 4 colunas de tamanhos iguais */
  grid-gap: 20px; /* Espaçamento entre os botões */
  justify-items: center; /* Centraliza os botões horizontalmente */
  margin-top: 30px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #f12b2b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 50px;
  width: 100%; /* O botão vai ocupar toda a largura disponível da coluna */
  max-width: 300px; /* Limite máximo da largura */
}

.button:hover {
  background-color: #f44336;
}

.button:active {
  background-color: #f12b2b;
}
